.body{
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.container{
  border-color: darkred;
  border-style: solid;
  border-style: bold;
  background-color: coral;
  display: inline-block;

}

.container h1{
  font-size: small;
  color: black;
  font-weight: 700;
}

.thing{
  font-size: large;
  color: brown;
  font-weight: 900;
}

/* END OF BASE STYLES */

.the-big-container{
  display: grid;
  grid-row: 200px 200px 200px 200px 200px;
  grid-column: 100px 100px 100px 100px 100px  ;
}